{% extends "base.html" %}
{% block title %}Encrypted files{% endblock %}
{% block section %}
{% if g.user %}
<div class="container m-3">
    <ul class="list-group">
        <li class="list-group-item"><b>Info about user:</b></li>
        <li class="list-group-item"><b>username:</b> {{ g.user['username'] }}</li>
        <li class="list-group-item"><b>private key:</b> {{ g.user['private_key'] }}</li>
        <li class="list-group-item"><b>account address:</b> {{ g.user['account_address'] }}</li>
    </ul>
</div>
{% endif %}

<table class='table table-striped'>
    <tr>
        <th>File id</th>
        <th>Sender</th>
        <th>File hash</th>
        <th>Number of shares available</th>
    </tr>
    {% for row in messages %}
    <tr>
        <td>{{ row['id'] }}</td>
        <td>{{ row['sender'] }}</td>
        <td>{{ row['hash'] }}</td>
        <td>{{ row['nb_shares'] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}